<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

  <head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ page.title }} | Charing House Gardens B&amp;B</title>
    <meta name="description" content="Charing House Gardens is a bed and breakfast in Ottawa, Ontario, Canada." />
    <link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="/jquery.min.js"></script>
    <script type="text/javascript" src="/fadeslideshow.js">
      /***********************************************
      * Ultimate Fade In Slideshow v2.0- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
      * This notice MUST stay intact for legal use
      * Visit Dynamic Drive at http://www.dynamicdrive.com/ for this script and 100s more
      ***********************************************/
    </script>

  </head>

  <body>
    <div id="centerer">
      <div id="page">

	<div id="header">
	  <img src="/images/header.jpg" alt="Charing House Gardens" />
	</div>
		
	<div id="navbar">
          <a href="/">Home</a>
          <a href="/accommodations">Accommodations</a>
          <a href="/flower-cart">Flower Cart</a>
          <a href="/calendar">Events Calendar</a>
          <a href="/contact">Contact</a>
	</div>

	<div id="content">
	
