	</div> <!--content-->

	<div id="bottomcurve">
	  <img src="/images/bottom_curves.gif" />
	</div>

      </div> <!-- page -->
	
      <div id="footer">
	<div class="center"><p>© 2007-2017 Charing House Gardens</p></div>
      </div>

    </div> <!-- centerer -->

    <script type="text/javascript" src="/fadeslideshow.js">
      /***********************************************
      * Ultimate Fade In Slideshow v2.0- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
      * This notice MUST stay intact for legal use
      * Visit Dynamic Drive at http://www.dynamicdrive.com/ for this script and 100s more
      ***********************************************/
    </script>
    Test test?

  </body>

</html>
