{% include header.html %}

	  <div id="leftcol">
	    <div id="leftcontent">
	      <img src="{{ page.sidebarimagepath }}" alt="Dahlia" />
	    </div>
	  </div>
	
	  <div id="rightcol">
	    <div id="rightcontent">
	      <div class="pagepost">
		<div class="post-4 page type-page status-publish hentry" id="post-4">
		  {{ content }}
		  <!--<h1>Welcome</h1>
		  <div class="entry">
		    <p>Charing House Gardens has taken on a new initiative in opening a Bed &amp; Breakfast. As this new venture progresses, less time can be devoted to the Gardens.</p>
		    <p>Charing House Gardens will no longer be selling dahlia tubers online, as of the 2013 season. Tubers will continue to be offered for sale at Horticultural meetings when CHG provides the program, as well as at the annual&nbsp;Rare and Unusual Plant Sale at the&nbsp;Central Experimental Farm in Ottawa, on Mothers’ Day morning.</p>
		    <p>Thank you for the support in the past. It has been an amazing learning experience. Information about dahlias and gardening in general will continue to be available on our website, by email, or by phone.</p>
		    <p>Come stay at Charing House Gardens Bed &amp; Breakfast, as the gardens will still be a popular spot to visit. Read more on the <a href="/accommodation/">Accommodation</a> page.</p>
		    <p>Fresh cut flowers will continue to be available for purchase during the 2014 season at the self-serve Flower Cart, throughout the blooming season.</p>
		    <p>Charing House Gardens is owned by Olly Chuchryk. She is involved in all aspects of the dahlia gardens, and welcomes your <a href="/contact/">calls or email</a> regarding Charing House Gardens, or growing dahlias in your own garden. She has spoken to numerous Garden Clubs in the Ottawa area, and is always well received.&nbsp; Enquiries&nbsp;about presentations&nbsp;can be made through the <a href="/contact/">Contact</a> page.</p>-->
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	
{% include footer.html %}
